[Unit]
Description=GOCD Agent Docker Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gocd-agent
#ExecStartPre=-/usr/bin/docker rm gocd-agent
#ExecStartPre=/usr/bin/docker pull gocd-agent
ExecStart=/usr/bin/docker run -t "built-by-ansible:gocd-agent-pi-erlang" --name gocd-agent

[Install]
WantedBy=multi-user.target
